*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 85%;
    margin: 0 auto;
}

/* Layout */


/* / Layout */


/* Debug */
.debug header{
    border: 2px dashed red;
    height: 600px;
}

.debug .top-header{
    border: 2px dashed orange;
    height: 75px;
}

.debug .top-header #logo,
.debug .top-header #top-links,
.debug .top-header #login{
    float: left;
    height: 75px;
}

.debug .top-header #logo{
    border: 2px dashed rgb(1, 90, 1);
    width: 30%;
}

.debug .top-header #top-links{
    border: 2px dashed rgb(2, 151, 2);
    width: 60%;
}

.debug .top-header #login{
    border: 2px dashed rgb(0, 255, 0);
    width: 10%;
}

.debug main{
    border: 2px dashed blue;
    height: 2300px;
}


.debug section{
    border: 2px dashed rgb(25, 221, 255);
    height: 500px;
}

.debug main #big-section{
    height: 800px;
}

.debug .img-sect-1,
.debug .img-sect-2,
.debug .img-sect-3{
    float: left;
    border: 2px dashed violet;
    height: 100%;
    width: 60%;
}

.debug .img-sect-1{
 
}

.debug .img-sect-2{

}

.debug .img-sect-3{

}

.debug #text-1,
.debug #text-2,
.debug #text-3{
    float: left;
    border: 2px dashed rgb(92, 2, 92);
    height: 100%;
    width: 32%;
    margin-left: 8%;
}

.debug #text-2{
    margin-left: 0px;
    margin-right: 8%;
}

.debug footer{
    border: 2px dashed black;
    height: 500px;
}
.debug .cont-footer{
    border: 2px dashed rgb(172, 155, 62);
    height: 100%;
}

.debug .top-footer{
    border: 2px dashed rgb(251, 255, 1);
    height: 75%;
    margin-top: 5%;
}
 
.debug .bottom-footer{
    border: 2px dashed brown;
    height: 20%;
}

/*/ Debug */